<h1>Item Detail</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.category %></td>
    </tr>
</table>

<a href="/">Show list of items</a>